@font-face {
	font-display: swap;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/proxima-nova_regular.otf) format(opentype);
}
@font-face {
	font-display: swap;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 700;
	src: url(/fonts/proxima-nova_bold.otf) format(opentype);
}
@font-face {
	font-display: swap;
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 800;
	src: url(/fonts/proxima-nova_extrabold.otf) format(opentype);
}

:root {
	--ff-rg: "Proxima Nova", sans-serif;
	--fw-rg: 400;
	--fw-bd: 700;
	--fw-eb: 800;

	--clr-0a: #ffffff;
	--clr-0b: #2c313b;
	/* --clr-0c: #41464f; */
	--clr-1a: 274, 62%, 57%;
	--clr-1b: 198, 76%, 53%;

	--pos: 30% top;
}

:where(*, *::before, *::after) {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(img, picture, canvas, svg) {
	width: 100%;
	display: block;
}

body {
	background-color: #0d0d0d;
	min-height: 100dvh;
	display: grid;
	place-items: center;
	padding: min(2.5rem, 5dvw);
	font-family: var(--ff-rg);
	color: var(--clr-0a);
	line-height: 1.2;
}

.img-box {
	position: relative;
	max-width: var(--img-w, 43.75rem);
	min-height: var(--img-h, 31.25rem);
	padding: 2.5rem;
	display: grid;
	grid-auto-rows: 0.875fr 1.125fr;
}

.img-box::before,
.img-box::after {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
}

.img-box::before {
	z-index: 1;
	background-image: linear-gradient(
		30deg,
		hsl(var(--clr-1a), 1) 20%,
		hsl(var(--clr-1b), 1) 90%
	);
	mix-blend-mode: overlay;
	filter: saturate(1.5);
}

.img-box::after {
	background-color: hsla(0, 0%, 0%, 0.25);
}

.image {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: var(--pos, center);
}

.tag {
	background-color: var(--clr-0a);
	color: var(--clr-0b);
	margin-right: auto;
	padding: 0.95rem 1rem;
	border-radius: 0.9rem;
	font-weight: var(--fw-eb);
	font-size: 1.55rem;
	place-self: start;
	z-index: 1;
}

.info {
	display: grid;
	grid-auto-rows: min-content;
	place-items: start;
	gap: 1rem;
	z-index: 1;
}

.title {
	font-size: 3.75rem;
	font-weight: var(--fw-eb);
	line-height: 0.9;
}

.subtitle {
	font-size: 1.565rem;
	margin-bottom: 0.66rem;
}

.details {
	background-color: var(--clr-0a);
	color: var(--clr-0b);
	padding: 0.285rem 0.725rem;
	border-radius: 0.6rem;
	font-size: 1.55rem;
	/* place-self: center start; */
}

.date {
	font-weight: var(--fw-eb);
}
